<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='pokemon-logo.png')}}" alt="logo"
                width="100"></a>
        <a class="navbar-brand" href="{{ url_for('homePage') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Catch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Find Battle</a>
                </li>
            </ul>
            <form action="{{ url_for('search.api_search_pokemon') }}" method="post">
                <input type="text" name="pokemon_name" placeholder="Enter a Pokemon name">
                <button type="submit">Search</button>
              </form>                          
        </div>
        <a href="{{ url_for('auth.registerPage') }}">
            <button type="button" class="nav-item">Register</button>
        </a>  
        <a href="{{ url_for('auth.loginPage') }}">
            <button type="button" class="nav-item">Login</button>
        </a>          
    </div>
</nav>